@import url('flatpickr/dist/flatpickr.min.css');
@import url('izitoast/dist/css/iziToast.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 36px 156px;
  font-family: Montserrat;
}

#datetime-picker {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 8px 16px;
  outline: none;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  background: #fff;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border: 1px solid #000;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
  color: #000;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
}

.flatpickr-input:active {
  color: #000;
}

.flatpickr-input:disabled {
  color: #808080;
}

button {
  width: 75px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}